<% content_for :body_class, 'bg-light' %>

<section class="section dish-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2"><%= @dish.title %></h1>

      <ul class="pv1">
        <% if @dish.category? %>
        <li class="inline-block pr3"><%= @dish.category %></li>
        <% end %>
      </ul>

      <div class="feature-image">
        <% if @dish.image_url %>
          <%= image_tag(@dish.image_url(:default)) %>
        <% end %>
      </div>

      <div class="content pa4 mt3 bg-white border-radius-3">

      <h3 class="subtitle is-4">Description</h3>
      <%= @dish.description %>


      <h3 class="subtitle is-4 pt5">Dish Specs</h3>

      <table class="table is-narrow">
        <% if @dish.category %>
          <tr>
            <td class="has-text-weight-bold">Category:</td>
            <td><%= @dish.category %></td>
          </tr>
        <% end %>
      </table>
    </div>
    </div>
    <div class="column is-3 is-offset-1">
      <div class="bg-white pa4 border-radius-3">
        <h4 class="title is-5 has-text-centered"><%= number_to_currency(@dish.price) %></h4>
        <p class="has-text-centered mb4">Added by <%= @dish.user.name %></p>
        <%= button_to 'Add to cart', line_items_path(dish_id: @dish), class: 'button is-warning add-to-cart' %>
      </div>
    </div>
  </div>

  <% if dish_author(@dish) %>
    <%= link_to 'Edit', edit_dish_path(@dish), class: 'button' %>
  <% end %>
  |
  <%= link_to 'Back', dishes_path %>
</section>
